$blueColor: #76b9ed;
$mainColor: #272727;
$navColor: #202020;

@property --gradient-angle {
	syntax: "<length-percentage>";
	inherits: false;
	initial-value: 0%;
}

.stopwatch,
.timer {
	display: flex;
	align-items: center;
	flex-flow: column;
	padding-top: 100px;
	h1 {
		color: #cecece;
		font-size: 6.5rem;
		font-weight: normal;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
	.control-stopwatch-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 30px;
		margin-top: 25px;
		button {
			color: #000;
			width: 65px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			aspect-ratio: 1;
			font-size: 3rem;
			transition: 0.1s ease all;
			background-color: $blueColor;
			border: 3px solid transparent;
			cursor: pointer;
			&:hover {
				background-color: #5498cc;
			}
			&:not(.play-pause) {
				background-color: #303030;
				color: #7b7b7b;
				border: 5px solid #343434;
				font-size: 3rem;
				&:focus-visible {
					border: 3px solid white;
				}
			}
			&:focus-visible {
				border: 3px solid white;
			}
		}
	}
	[lap-table] {
		width: 650px;
		color: var(--font-color);
		margin-top: 40px;
		height: 450px;
		.row,
		header {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin: 10px;
			padding: 10px;
		}
		header {
			border-bottom: 2px solid rgba($color: #fff, $alpha: 0.3);
			background-color: var(--bg-color);
		}
		main {
			scrollbar-width: none;
			overflow: auto;
		}
	}
}
@media (max-width: 800px) {
	.stopwatch {
		h1 {
			font-size: 4rem;
		}
		[lap-table] {
			width: 100%;
		}
	}
}

#progress-bar {
	width: 430px;
	height: 430px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: --gradient-angle 500ms;
	background-image: conic-gradient(
		#76b9ed var(--gradient-angle),
		#3e3e3e var(--gradient-angle)
	);
	#circle {
		width: 90%;
		height: 90%;
		background-color: var(--bg-color);
		display: flex;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		* {
			font-size: 5.5rem;
		}
	}
}
