.world-clock {
	display: grid;
	grid-template-columns: 1fr 500px;
	aside {
		display: flex;
		flex-flow: column;
		gap: 10px;
		overflow: auto;
		scrollbar-width: none;
	}

	.timezone {
		display: flex;
		align-items: center;
		gap: 20px;
		background-color: var(--hover-color);
		padding: 20px;
		border-radius: 7px;
		transition: 0.1s ease all;
		span {
			font-size: 20px;
		}
		small {
			font-size: 15px;
			opacity: 0.8;
		}
		h3,
		p {
			font-size: 17px;
		}
		* {
			color: var(--font-color);
			font-weight: normal;
		}
		box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.1);
		border: 1px solid transparent;
		&:hover {
			background-color: #2e2e2e;
			border: 1px solid rgba($color: #fff, $alpha: 0.1);
		}
	}
}

@media (max-width: 1000px) {
	.world-clock {
		display: block;
		main {
			display: none;
		}
	}
}
