@use "sass:color";

.world-clock {
	display: grid;
	grid-template-columns: 1fr 500px;
	position: relative;

	.buttons-container {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-color: var(--hover-color);
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 5px;
		border-radius: 5px;
		box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.1);
		button {
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			aspect-ratio: 1;
			opacity: 0.8;
			&:hover {
				background-color: var(--btn-color);
			}
		}
	}
	aside {
		display: flex;
		flex-flow: column;
		gap: 10px;
		padding: 10px;
		overflow: auto;
		scrollbar-width: none;
	}

	.timezone {
		display: flex;
		align-items: center;
		gap: 20px;
		background-color: var(--hover-color);
		padding: 20px;
		border-radius: 7px;
		transition: 0.1s ease all;
		box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.1);
		border: 1px solid transparent;
		span {
			font-size: 20px;
		}
		small {
			font-size: 15px;
			opacity: 0.8;
		}
		h3,
		p {
			font-size: 17px;
		}
		* {
			color: var(--font-color);
			font-weight: normal;
		}

		&:hover {
			background-color: #2e2e2e;
			border: 1px solid rgba($color: #fff, $alpha: 0.1);
		}
	}
}

#pop-up {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	transition: 0.3s ease all;
	background-color: #212121;
	padding: 20px;
	border-radius: 10px;
	width: 350px;
	opacity: 0;
	z-index: 52;
	pointer-events: none;
	box-shadow: 0px 0px 15px 3px rgba(0 0 0 / 0.3);
	&.opened {
		opacity: 1;
		pointer-events: all;
		transform: translate(-50%, -50%);
	}
	h3 {
		font-size: 24px;
		font-weight: 500;
	}
	input {
		padding: 10px;
		border: 1px solid rgba($color: #fff, $alpha: 0.1);
		width: 100%;
		margin-block: 15px;
		font-size: 17px;
		border-radius: 5px;
	}

	.btns {
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	* {
		color: var(--font-color);
	}
	button {
		flex: 1;
		padding: 7px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
	}
	button:first-child {
		background-color: #76b9ed;
		color: color.invert(#fff);
		&:hover {
			background-color: lighten(#76b9ed, 5%);
		}
	}
	button:last-child {
		background-color: #2e2e2e;
		&:hover {
			background-color: lighten(#2e2e2e, 5%);
		}
	}
}

.locations {
	background-color: lighten(#2e2e2e, 1%);
	position: absolute;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	top: 55%;
	max-height: 300px;
	overflow: auto;
	scrollbar-width: none;
	&:not(:has(.location)) {
		background-color: #fff;
	}
	.location {
		padding: 10px;
	}
}

@media (max-width: 1000px) {
	.world-clock {
		display: block;
		padding-top: 80px;
		main {
			display: none;
		}
	}
}
