main {
	overflow: hidden;
	height: 100%;
	position: relative;
	> section {
		width: 100%;
		padding: 20px;
		height: 100%;
		transition: 0.1s ease all;
		position: absolute;
		top: 0;
		left: 0;
		animation-duration: 0.3s;
		animation-timing-function: ease;
		animation-direction: alternate;
		animation-fill-mode: both;
		opacity: 0;
		pointer-events: none;
		&.active {
			opacity: 1;
			pointer-events: all;
		}
	}
}

@keyframes fadeUp {
	0% {
		transform: translate(0, 200px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
